<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Hello from my new web component: [[prop1]]</h1>

    <div class="container">

      <div class="row">
        <div class="col-lg-3">
          <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/129/upside-down-face_1f643.png" class="col-lg-8 col-xs-12">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <button class="btn-danger col-lg-4 col-xs-12" name="button" on-click="incrementar">Cargar datos</button>
          <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <table class="table-striped">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>[[prop1]]</td>
                <td>Madrid</td>
              </tr>
              <tr>
                <td>2</td>
                <td>De la Luz</td>
                <td>Madrid</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <!--<div style="withd:400px; heigth:500px;">
      <table>
        <thead>
          Tabla de momos
        </thead>
        <tbody>
          <tr>
            <td><img src="https://pics.me.me/back-end-developer-6470236.png" alt=""></td>
            <td><img src="https://i.imgflip.com/1cfgoy.jpg" alt=""></td>
            <td><img src="https://i1.wp.com/www.developermemes.com/wp-content/uploads/2013/12/Defect-In-Production-Works-On-My-Machine.jpg" alt=""></td>
          </tr>
        </tbody>
      </table>
    </div>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String/**,
            value: 'mi-visor'*/
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: "Indique su login"
          }
        };
      }

      incrementar() {
        this.prop2 = this.prop2 + 1;
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
